# Default ignored files
/shelf/
/workspace.xml

# local logs and records
/all_GCP.log
/recordsGCP.txt
/records.txt

# local credentials
/postgress_credentials.txt
/token.pickle
/api-auth.json
/credentials.json

# misc
/tests.py
/venv
/__pycache__
/stockNewsScraper.py